################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FParsecErrRecStudy/.vs/FParsecErrRecStudy
/FParsecErrRecStudy/FParsecErrRecStudy/bin/Debug/net6.0
/FParsecErrRecStudy/FParsecErrRecStudy/obj
/FParsecErrRecStudy/ErrRecovery.Tests/bin
/FParsecErrRecStudy/ErrRecovery.Tests/obj
